
/** INDEX.HTML CSS **/

body {
    background-image: url("/images/SanDiegoDarkHD.jpg");
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 { 
    text-align: center; 
    font-family: 'Kaushan Script', cursive;
}

#titleText{
    color: white; 
    font-size: 60px; 
}


#mapContainer {
    display: flex;
    justify-content: center; 
}

#mapContentContainer {
    background-image: url("/images/SanDiegoLightHD.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: white solid 5px; 
    padding: 2%; 
    margin-left: 2%;
    margin-right: 2%; 
    width: 100%;
    display: grid; 
    grid-template-columns: 30% 70%; 
    justify-content: space-evenly; 
    border-radius: 75px;
}

@media (max-width: 850px){
    #mapContentContainer {
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        height: 1500px; 
        align-content: center;
    }
}


#currentLocContainer, #mapid {
    display: grid; 
    justify-content: center;
    text-align: center; 
    padding: 5%; 
    margin: 1%; 
    border-radius: 75px;
    text-decoration: none;
}

#currentLocContainer {
    border: 2px solid white; 
    background-color: black;
    color: white; 
    opacity: .8;
    font-family: 'Oswald', sans-serif;
    font-size: 24px; 
}


#currentLocButton {
    font-family: 'Oswald', sans-serif;
    border: 2px solid white; 
    background-color: black; 
    color: white; 
    padding: 10% 10%;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    border-radius: 75px;
    cursor: pointer
}

#currentLocButton:hover {
    background-color: white;
    color: black; 
    border: solid 2px black; 
}

#mapid {
    height: 80%; 
    width: 85%; 
    border: white 5px solid; 
}

@media (max-width: 750px) { 
    #mapid{
        height: 85%;  
    }
 }

 @media (max-width: 600px ){
     #mapid{
         height: 90%
     }
 }

 #marketPopUp{
     display: grid;
     justify-content: center;
 }

 .markerPopUpButton{
     border: solid 1px black;
     background-color: white; 
     color: black; 
     cursor: pointer;
     border-radius: 75px;
     margin-top: 5%; 
     padding: 5%; 
 }

 .markerPopUpButton:hover {
    border: solid 1px white;
    background-color: black; 
    color: white; 
 }

#modalBackground {
    display: none; 
    position: fixed; 
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%; 
    overflow: auto; 
    border:solid 2px grey;
    background-color: rgba(0,0,0, .5);
    z-index: 1000;
}

#modalContainer {
    position: relative; 
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: 30% 60%;
    justify-content: center;
    margin: auto; 
    border: black 2px solid;
    border-radius: 75px;
    background: white; 
    top: 10%; 
    height: 80%; 
    width: 60%;
    box-shadow: 0 4px 8px 0;
    -webkit-animation-name: topReveal;
    -webkit-animation-duration: 0.5s;
    animation-name: topReveal;
    animation-duration: 0.5s
}

@media (max-width: 750px){
    #modalContainer {
        height: 100%;
        width: 100%; 
    }
}

#addressContainer {
    height: 30%; 
    margin-bottom: 100px; 
}

#addressLocation {
    text-align: center; 
    z-index: 1001; 
}

@-webkit-keyframes topReveal {
    from{top: -300px; opacity: 0}
    to {top: 10%; opacity: 1}
}

#routeObjectContainer {
    display: flex; 
    justify-content: center;
}

#routeObject {
    width: 90%;
    height: 100%; 
}

.close{
    position: relative; 
    color: black; 
    float: right;
    font-size: 30px;
    font-weight: bold;
    top: 10%;
    right: 5%; 
}

@media (max-width: 900px){
    .close{
        right: 10%; 
    }
}

.close:hover,
.close:focus {
color: blue;
text-decoration: none;
cursor: pointer;
}