#buttonContainer {
    display: grid; 
    justify-content: center; 
    margin: 5%; 
}

#mapRouteRefresh{
    font-family: 'Oswald', sans-serif;
    border: 2px solid black; 
    background-color: white; 
    color: black; 
    font-size: 24px;
    border-radius: 75px;
    cursor: pointer;
    width:200px; 
    margin: 5%;  
    height: 100px;
    margin: 0 auto;
    
}

#mapRouteRefresh:hover {
    border: 2px solid white; 
    background-color: black; 
    color: white;
}

#mapRouteContainer {
    display: flex;
    justify-content: center; 
}

#mapRouteId {
    width: 100%;
    height: 500px; 
}

