#wrapper{
    display: grid;
    grid-template-columns: 1fr; 
    justify-content: center;
}

#mapRouteRefresh{
    width: 10%; 
}


#mapRouteContainer {
    display: flex;
    justify-content: center; 
}

#mapRouteId {
    width: 100%;
    height: 500px; 
}


/* .modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
} */