
h1{
    text-align: center; 
}

#MapArea {
    border: solid 2px black;
    margin-left: 2%;
    margin-right: 2%; 
    width: 70%
}



#SideBar {
    border: solid 2px black;
    width: 25%
}

#BusinessTypeContainer {
    display: grid; 
    text-align: center; 
}

#BusinessTypesContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

#mapContentContainer{
    display: flex; 
    justify-content: space-evenly; 
}

#mapContainer {
    display: flex;
}


#addressesContainer, #mapid {
    display: grid; 
}

#mapid {
    height: 350px; 
    width: 66%; 
    border-style: solid;
    border-color: black
}

#modalTest {
    display: none; 
    background-color: black;
    color: white; 
}