
h1{
    text-align: center; 
}

#MapContainer {
    display: flex 
}

#MapArea {
    border: solid 2px black;
    margin-left: 2%;
    margin-right: 2%; 
    width: 70%
}

#SideBar {
    border: solid 2px black;
    width: 25%
}

#BusinessTypeContainer {
    display: grid; 
    text-align: center; 
}

#BusinessTypesContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

#mapContentContainer{
    display: flex; 
    justify-content: space-evenly; 
}

#addressesContainer, #mapContainer {
    display: grid; 
}
